default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  username: USERNAME
  password: PASSWORD
  host: localhost
development:
  <<: *default
  database: auto_interact_web_development
test:
  <<: *default
  database: auto_interact_web_test
production:
  <<: *default
  database: auto_interact_web_production
